# Assignment 11

## Mounting the Drive

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [17]:
DataFolder_Path = "/content/gdrive/MyDrive/EETBS /Data"

## Importing Modules

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [19]:
ConsumptionFileName= "consumption_5545.csv"
TemperatureFileName= "Austin_weather_2014.csv"
IrradianceFileName= "irradiance_2014_gen.csv"

## Files

In [20]:
ConsumptionFilePath = os.path.join(DataFolder_Path,ConsumptionFileName)
TemperatureFilePath  = os.path.join(DataFolder_Path,TemperatureFileName)
IrradianceFilePath = os.path.join(DataFolder_Path,IrradianceFileName)

In [38]:
DF_consumption = pd.read_csv(ConsumptionFilePath,sep=",", index_col=0, parse_dates=[0])

DF_weather = pd.read_csv(TemperatureFilePath,sep=";",index_col = ["localhour"],parse_dates=["localhour"],
                         date_parser= lambda col: pd.to_datetime(col, utc=True).tz_convert("US/Central").tz_localize(None)) 
DF_temperature = DF_weather[["temperature"]]

DF_irradiance = pd.read_csv(IrradianceFilePath,sep=";", index_col=["localhour"], parse_dates=["localhour"])
DF_irradiance = DF_irradiance[["gen"]]
DF_irradiance.loc[DF_irradiance["gen"]<0,"gen"]=0

In [39]:
DF_joined  = DF_consumption.join([DF_temperature,DF_irradiance])

DF_joined = DF_joined.rename(columns ={"air conditioner_5545":"Consumption [W]","temperature":"Temperature [°K]","gen":"Irradiance [??]"})

In [23]:
DF_joined.dropna(inplace = True)

In [24]:
Joined_DF_FileName= "joined_DF.csv"
RamosFolder_Path = "/content/gdrive/MyDrive/EETBS /Data/Ramos"
Joined_DF_FilePath = os.path.join(RamosFolder_Path,Joined_DF_FileName)
DF_joined.to_csv(Joined_DF_FilePath)

In [29]:
DF_mod = DF_joined.copy()

## Task

### Functions

In [26]:
def laggedColumnCreator(df,ColumnName,LagStart,LagEnd,LagInterval):
  for i in list(range(LagStart,LagEnd+1,LagInterval)):
    NewColumnName = ColumnName + " -" + str(i) + "h"
    df[NewColumnName]= df[ColumnName].shift(i)
    df.dropna(inplace=True) #This applies it to the dataframe; if not you should use df=df.dropna()
  return df

In [37]:
def Function(df): #This function assumes the index to be the time stamp
  df["Hours"] = df.index.hour
  df["sin(hour)"] = np.sin(df["Hours"])
  df["cos(hour)"] = np.cos(df["Hours"])
  df["Day of the Week"] = df.index.isocalendar().day # Monday is 1
  df["Month"] = df.index.month
  df["Week of the Year"] = df.index.isocalendar().week # I don't understand why but this function considers the last three days of the years as part of the first week of the following year
  df["Weekend Flag"] = np.where(df.index.dayofweek<5,0,1)
  df.dropna(inplace=True)
  return df

### Lags of Consumption Temperature and Irradiance

In [32]:
DF_mod = laggedColumnCreator(DF_mod,"Consumption [W]",1,24,1)
DF_mod = laggedColumnCreator(DF_mod,"Irradiance [??]",3,6,1)

### Adding Time-Related Features

In [40]:
DF_mod = Function(DF_mod)

In [42]:
DF_mod.tail(60)

                     Consumption [W]  ...  Weekend Flag
2014-12-28 13:00:00              0.0  ...             1
2014-12-28 14:00:00              0.0  ...             1
2014-12-28 15:00:00              0.0  ...             1
2014-12-28 16:00:00              0.0  ...             1
2014-12-28 17:00:00              0.0  ...             1
2014-12-28 18:00:00              0.0  ...             1
2014-12-28 19:00:00              0.0  ...             1
2014-12-28 20:00:00              0.0  ...             1
2014-12-28 21:00:00              0.0  ...             1
2014-12-28 22:00:00              0.0  ...             1
2014-12-28 23:00:00              0.0  ...             1
2014-12-29 00:00:00              0.0  ...             0
2014-12-29 01:00:00              0.0  ...             0
2014-12-29 02:00:00              0.0  ...             0
2014-12-29 03:00:00              0.0  ...             0
2014-12-29 04:00:00              0.0  ...             0
2014-12-29 05:00:00              0.0  ...             0
2014-12-29 06:00:00              0.0  ...             0
2014-12-29 07:00:00              0.0  ...             0
2014-12-29 08:00:00              0.0  ...             0
2014-12-29 09:00:00              0.0  ...             0
2014-12-29 10:00:00              0.0  ...             0
2014-12-29 11:00:00              0.0  ...             0
2014-12-29 12:00:00              0.0  ...             0
2014-12-29 13:00:00              0.0  ...             0
2014-12-29 14:00:00              0.0  ...             0
2014-12-29 15:00:00              0.0  ...             0
2014-12-29 16:00:00              0.0  ...             0
2014-12-29 17:00:00              0.0  ...             0
2014-12-29 18:00:00              0.0  ...             0
2014-12-29 19:00:00              0.0  ...             0
2014-12-29 20:00:00              0.0  ...             0
2014-12-29 21:00:00              0.0  ...             0
2014-12-29 22:00:00              0.0  ...             0
2014-12-29 23:00:00              0.0  ...             0
2014-12-30 00:00:00              0.0  ...             0
2014-12-30 01:00:00              0.0  ...             0
2014-12-30 02:00:00              0.0  ...             0
2014-12-30 03:00:00              0.0  ...             0
2014-12-30 04:00:00              0.0  ...             0
2014-12-30 05:00:00              0.0  ...             0
2014-12-30 06:00:00              0.0  ...             0
2014-12-30 07:00:00              0.0  ...             0
2014-12-30 08:00:00              0.0  ...             0
2014-12-30 09:00:00              0.0  ...             0
2014-12-30 10:00:00              0.0  ...             0
2014-12-30 11:00:00              0.0  ...             0
2014-12-30 12:00:00              0.0  ...             0
2014-12-30 13:00:00              0.0  ...             0
2014-12-30 14:00:00              0.0  ...             0
2014-12-30 15:00:00              0.0  ...             0
2014-12-30 16:00:00              0.0  ...             0
2014-12-30 17:00:00              0.0  ...             0
2014-12-30 18:00:00              0.0  ...             0
2014-12-30 19:00:00              0.0  ...             0
2014-12-30 20:00:00              0.0  ...             0
2014-12-30 21:00:00              0.0  ...             0
2014-12-30 22:00:00              0.0  ...             0
2014-12-30 23:00:00              0.0  ...             0
2014-12-31 00:00:00              0.0  ...             0

[60 rows x 38 columns]